<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>New File</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
    
    <form id="upload-container" action="" method=post enctype=multipart/form-data>
    	<img id="upload-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHgAAGxyDQOsFk19AT9XrwsC9M--PlE0kcMA&usqp=CAU">

      	<input type=file name=file>
      	<p1><select>
		   <option value="Чебурашка">Всем</option>
		   <option selected value="Крокодил Гена">По ссылке</option>
		   <option value="Шапокляк">Только мне</option>
         <select>
         <p2><input type=submit value=Upload>

    </form>
   


</body>
</html>